html ::after {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 ::after {
  font-size: large;
  color: rgb(red, green, blue)
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: underline;
  text-underline-offset: 6px;
  
}

h1 {
  font-weight: bolder;
  text-transform: capitalize;
  font-weight: 100;
  letter-spacing: 0.1rem;
  font-size: 3.5rem;
  text-decoration: none;
  font-style: initial;
}

h2 {
  font-size: 2rem;
}

h3 ::before {
  font-size: 1.5rem;
}

.site-intro {
  font-size: 1.25rem;
}