html {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
  line-height: 1.5;
  color: blueviolet;
}

nav a:link {
  font-size: larger;
  font-style: italic;
  font-weight: bolder;
  text-decoration: underline dotted #ff7272 0.5rem;
  letter-spacing: 2rem;
  line-height: 2em;
}

p {
  text-align: center;
  font-size: medium;
  font-weight: 700;
  font-style: initial;
  line-height: 5em;
  letter-spacing: 0.6rem;
}

.assignments li {
  list-style-type: none;
}

.assignments li::before {
  font-size: 2rem;
}

.assignments a:link,
.assignments a:visted {
  line-height: 1.6;
}

.assignments a:hover,
.assignments a:active {
  text-decoration: underline double rgba(red, green, blue, alpha) 2px;
  text-underline-offset: 4px;
}

nav{
float: right;
position: sticky;
top: 0;
background-color: rgb(227, 127, 255);
transform: skew(15deg) scale(.6) rotate(45deg);

}

.assignments{
  float: left;
  bottom: 0;
  background-color: salmon;
  transform: scale(.8) rotate(-45deg);
}

.guide{
  position: relative;
  float: right;
  bottom: 0;
  background-color: rgb(189, 255, 127);
  transform: scale(.6);
}

.fade-text {
  animation-delay: 1s;
    animation-duration: 4s;
    animation-name: fadeTxt;
    animation-timing-function: ease-out;
    background-color: purple;
    color: white;
}

@keyframes fadeimg {
  0% {
    background-color: transparent;
    color: purple;
}

25% {
    background-color: blue;
}

50% {
    background-color: orange;
}

75% {
    background-color: pink;
}

100% {
    background-color: purple;
    color: white;
}

.fade-img {
  animation: fadeimg ease 14s;
  animation-fill-mode: forwards;
}
  
  @keyframes fadeTxt {
    0% {
      opacity: 0;
  }
  
  100% {
    opacity: 1;
    border-radius: 50%;
    border: solid rgb(189, 255, 127);
  }
  
  }